alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
Babel @ file:///C:/b/abs_a2shv_3tqi/croot/babel_1671782804377/work
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
certifi @ file:///C:/b/abs_91u83siphd/croot/certifi_1700501720658/work/certifi
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
commonmark @ file:///Users/ktietz/demo/mc3/conda-bld/commonmark_1630649545323/work
cryptography @ file:///C:/b/abs_f4do8t8jfs/croot/cryptography_1694444424531/work
docutils @ file:///C:/Windows/TEMP/abs_24e5e278-4d1c-47eb-97b9-f761d871f482dy2vg450/croots/recipe/docutils_1657175444608/work
future @ file:///C:/b/abs_3dcibf18zi/croot/future_1677599891380/work
groundwork-sphinx-theme==1.1.1
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
imagesize @ file:///C:/Windows/TEMP/abs_3cecd249-3fc4-4bfc-b80b-bb227b0d701en12vqzot/croots/recipe/imagesize_1657179501304/work
importlib-metadata @ file:///C:/b/abs_10tghljtjx/croot/importlib_metadata-suite_1704294690538/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
livereload @ file:///home/conda/feedstock_root/build_artifacts/livereload_1598114753789/work
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
mdit-py-plugins==0.4.0
mdurl==0.1.2
packaging @ file:///C:/b/abs_28t5mcoltc/croot/packaging_1693575224052/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
PySocks @ file:///C:/ci/pysocks_1605287845585/work
pytz @ file:///C:/b/abs_19q3ljkez4/croot/pytz_1695131651401/work
PyYAML==6.0.1
recommonmark @ file:///Users/ktietz/demo/mc3/conda-bld/recommonmark_1629466645250/work
requests @ file:///C:/b/abs_316c2inijk/croot/requests_1690400295842/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
Sphinx==7.1.2
sphinx-autobuild @ file:///home/conda/feedstock_root/build_artifacts/sphinx-autobuild_1615741904625/work
sphinx-rtd-theme @ file:///C:/b/abs_c9daik4s36/croot/sphinx_rtd_theme-split_1681197100641/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
urllib3 @ file:///C:/b/abs_9cmlsrm3ys/croot/urllib3_1698257595508/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
zipp @ file:///C:/b/abs_b0beoc27oa/croot/zipp_1704206963359/work
